@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ 
  var parts = CreateInstance("../shared/_Parts.cshtml");
  var benefitsParts = CreateInstance("_Parts - Benefits.cshtml");
  var i = 0;
  var rowEven = "order-md-2";
  var rowOdd = "offset-xl-1";
  var presentation = Header.Presentation;
}

<section class="app-landingpage-builder app-lp-image-zig-zag section-text-@presentation.TextOptimization section-bg-color-@presentation.BackgroundColor"
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start")
    >
    @parts.BackgroundDiv()
    <div class="container-fluid" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        @RenderPage("../shared/_Block.cshtml")
        
        @foreach (var data in AsList(Data)) {
            <div class="row no-gutters" @Edit.TagToolbar(data)>         
                <div class="col-12 col-md-6 col-xl-5 @(i++ % 2 == 0 ? rowEven : rowOdd)">
                    <div class="d-flex align-items-center h-100">
                        <div class="zig-zag-content">
                            @benefitsParts.Body(data)
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 zig-zag-image" style="@((Text.Has(data.Image)) ? "background-image:url('"+Tags.SafeUrl(data.Image+"?w=2560&scale=both&quality=70")+")'" : "")"></div>
            </div>
        }

        @parts.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts" })
