@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
  // run helper command
  var linkInfo = linkHelper.LinkInfos(Content.Link, Content.Window, Content.Icon);
}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner text-center py-5" @Edit.TagToolbar(Content)>
    @if(Content.Presentation.HeadingType != "hide") {
      @((Tag.Custom(Content.Presentation.HeadingType)).Wrap(
        Content.Title,
        Tag.Br(),
        Tag.Small(Content.Description)
      )
      .Class("mb-4")
      )
    }
    @if(linkInfo.Found) {
      <a target="@linkInfo.Window" class="btn btn-lg btn-outline-primary" href="@Tags.SafeUrl(Content.Link)">
        <i class="co-icon fas @linkInfo.Icon" aria-hidden="true"></i>
        <span>@Content.LinkText</span>
      </a>
    }
  </div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,icons"})