@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-text">
    <div class="row">
      @foreach (var link in AsList(Data)) {
        var linkInfo = linkHelper.LinkInfos(link.Link, link.Window, link.Icon);
        <div class="mb-4 col-12 col-md-6 col-lg-4" @Edit.TagToolbar(link)>
          <h4>@link.Title</h4>
          <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
          @if(linkInfo.Found) {
            <a class="co-linkblock" href="@Tags.SafeUrl(link.Link)" target="@linkInfo.Window" title="@link.Title">
              <span>@link.LinkText&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></span>
            </a>
          }
        </div>
      }
    </div>
  </div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,height,icons"})