@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner">
    <ul class="list-unstyled">
      @foreach (var link in AsList(Data)) {
        var linkInfo = linkHelper.LinkInfos(link.Link, link.Window, link.Icon);
        <li @Edit.TagToolbar(link)>
          @if(linkInfo.Found) {
            @:<a class="co-linkblock" href='@Tags.SafeUrl(link.Link)' target="@linkInfo.Window" title="@link.Title">
          }
            <div class="d-flex flex-row">
              <div class="pr-2 pl-0 pt-1 pb-0">
                <i class="text-primary fas @linkInfo.Icon" style="font-size: 24px;"></i>
              </div>
              <div class="px-2 py-0">
                <span class="lead font-weight-normal">@link.Title</span>
                <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
              </div>
            </div>
          @if(linkInfo.Found) {
            @:</a>
          }
        </li>
      }
    </ul>
	</div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,icons"})