@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // Prepare helpers
  var helpers = CreateInstance("Links.cs");

  // Toolbar configuration for use on posts
  var postToolbarConfig = new [] {
    "-layout",
    "%new&show=true?contentType=BlogPost&entityId=0&prefill:PublicationMoment=" + DateTime.Now.ToString("yyyy-MM-dd"),
    "%delete&show=true"
  };
}
<section class="app-blog5" @Edit.TagToolbar(Content)>
  <div class="row">
    <div class="col-12">
      @* Title / Description of current filter (Author, Category, etc.) *@
      @Html.Partial("_ListMain.PartHeader.cshtml")
    </div>

    <div class="col-lg-8">
      @* Mobile Category filter *@
      <div class="d-xs-block d-lg-none">
        @Html.Partial("shared/_Categories.cshtml")
      </div>

      @* List the posts *@
      @foreach(var post in AsList(Data["Posts"])) {
        <article class="app-blog5-list-item effect-zoom mb-5" @Edit.TagToolbar(post, toolbar: postToolbarConfig)>
          @* Header-block with Image / Author, Title, Categories *@
          <div class="app-blog5-post-header">
            @Html.Partial("shared/_MainImage.cshtml", new { Post = post })
            @Html.Partial("shared/_AuthorDateAndCategories.cshtml", new { Post = post, HeadingType = "h2"})
          </div>

          <div class="app-blog5-post-content">
            @Html.Raw(post.Teaser)
            <a href="@helpers.LinkToDetailsPage(post)" class="btn btn-outline-primary stretched-link mt-2">@Resources.ReadMore</a>
          </div>
        </article>
      }

      @* Show pagination if configured *@
      @if (Content.ShowPagination == true) {
        @Html.Partial("shared/_ListPaging.cshtml")
      }
    </div>

    @* Desktop Category filter *@
    <div class="col-lg-4">
        @Html.Partial("shared/_Categories.cshtml")
    </div>
  </div>
</section>

@Html.Partial("shared/_Assets.cshtml")