@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@helper Label(string label, string forControl) {
  <label class="col-sm-3" for="@forControl">@label</label>
}

@helper Textbox(string label, string id, bool required = false, string type = "text", string value = "", bool disabled = false) {
  <div class="form-group row @(required ? "form-required" : "")">
    @Label(label, id)
    <div class="col-sm-9">
        <input value="@value" type="@type" @((required) ? "required" : "") class="form-control" id="@id" name="@id" @((disabled) ? "disabled" : "")>
    </div>
  </div>
}