@inherits ToSic.Sxc.Dnn.RazorComponent

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="row">
			<div class="col-md-8">
					@* call sub-template to show the title with the correct H1-H6 tag *@
					@RenderPage("../shared/_Header tag.cshtml")
					@Html.Raw(Content.Text)
			</div>
			<div class="col-md-4">
				@* call sub-template to show the image with all possible options *@
				@RenderPage("_ContentImage.cshtml", new { img = Content, width = 540 })
			</div>
		</div>
	</div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts"})