@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@using System.Diagnostics;
@using System.IO;
@{
  var hlp = CreateInstance("../shared/_helpers.cshtml"); 
  var rzr = CreateInstance("_razorblade-version.cshtml");
  double version = rzr.VersionDouble();
}
</hide>

<trim>
<img src="@App.Path/blade/assets/razor-blade-wide.png" width="100%">
<p>
  Learn how to use <code>ToSic.Razor.Blade</code> to do really cool stuff. For example, take a html-string, strip the html tags, truncate to 100 characters without splitting word and then show using a standard html-ellipsis. And way more. This uses <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">ToSic.Razor.Blade</a>. 
</p>

<h2>Some notes before we start</h2>
<p>
  <em>RazorBlade</em> can be installed as a <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">stand-alone DNN module</a> or if you are creating your own module, you can include it in your distribution. 2sxc 9.40+ includes <em>RazorBlade</em> 1.01, 2sxc 10.06 includes 2.0 and 10.09 includes v2.02. If you see errors, you probably need to install a newer version of <em>RazorBlade</em>.
</p>
@rzr.RazorVersionBox(3.00)
</trim>

<hr>
<h2><em>RazorBlade</em> Examples for Text Manipulations</h2>

<ol>
  @hlp.TutorialLink("RazorBlade - Text.Crop() and Text.Ellipsis()", "blade110", 
  "Correctly crop text without splitting words or html-characters like &amp;", 
  "", rzr.VersionInfo(version, 1.0))

  @hlp.TutorialLink("RazorBlade - Text.Has() tells you if something really has content", "blade120", 
  "Check if strings really have something correctly, incl. spaces or even &nbsp; whitespaces. ", 
  "", rzr.VersionInfo(version, 1.0))

  @hlp.TutorialLink("RazorBlade - Text.First() lets you pick a value from many variables", "blade130", 
  "Often you have to check many variables to find the first one to use.", 
  "", rzr.VersionInfo(version, 3.0))

  @hlp.TutorialLink("RazorBlade - Text.Zip() lets you shrink all spaces, tabs, enters together", "blade140", 
  "Very often you need to clean up some text before working with it.", 
  "", rzr.VersionInfo(version, 1.0))
</ol>

<hr>
<h2><em>RazorBlade</em> Examples for Manipulating Html strings</h2>

<ol>
  @hlp.TutorialLink("Tags.Strip() cleans out all HTML tags", "blade210", 
  "Remove all html from a string - important for teaser texts and protecting against cross-site-scripting attacks.", 
  "", rzr.VersionInfo(version, 1.0))

  @hlp.TutorialLink("Convert <br> tags to new-lines or spaces and back", "blade220", 
  "A common challenge is showing text as HTML or the other way around", 
  "", rzr.VersionInfo(version, 1.0))
</ol>


<hr>
<h2><em>RazorBlade</em> Examples for Modifying DNN Page Headers</h2>

<ol>
  @hlp.TutorialLink("Page Title, Keyword, Description", "blade310", 
  "Get/Set Page Title, Keywords, Description and set meta-tags and more.", 
  "", rzr.VersionInfo(version, 1.01))

  @hlp.TutorialLink("Base tag in header", "blade311", 
  "Add a base tag to the header - which works correctly in DNN. Important for SPA JS applications.", 
  "(new!)", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("JSON-LD Headers for SEO", "blade320", 
  "Add JSON-LD (Linked Data) headers for Google", 
  "", rzr.VersionInfo(version, 1.01))

  @hlp.TutorialLink("Open-Graph headers for Social Media", "blade330", 
  "Add Open-Graph data headers for Facebook, Twitter and other sharing-systems", 
  "", rzr.VersionInfo(version, 1.01))

  @* todo - must enhance, this isn't showing much ATM *@
  @hlp.TutorialLink("Open-Graph headers for Social Media", "blade330", 
  "Add Open-Graph data headers for Facebook, Twitter and other sharing-systems", 
  "", rzr.VersionInfo(version, 1.01))

  @hlp.TutorialLink("Page Icons for Favicon, Apple/Android", "blade340/page/mode/set", 
  "Add various combinations of icons to the page header", 
  "new!", rzr.VersionInfo(version, 2.01))

</ol>

<hr>
<h2><em>RazorBlade</em> Fluent Html and Html5 Tag API for creating HTML using code</h2>

<ol>
  @hlp.TutorialLink("Tutorials for the Html5 Tag API", "blade800", 
    "The basics of creating html directly from code - with objects for every known HTML5 tag", 
    "enhanced!", rzr.VersionInfo(version, 3.00))
</ol>

<hr>
<h2>More Information around <em>RazorBlade</em></h2>
<ol>
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade", "RazorBlade Github Repo")
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade/releases", "RazorBlade download page")
  <li>Blogs
    <ul>
      @hlp.LiExtLink("https://2sxc.org/en/blog/tag/razor-blade", "Blog posts & tutorials on 2sxc.org around RazorBlade")
    </ul>
  </li>
</ol>
