@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/_helpers.cshtml"); 
  var rzrHelp = CreateInstance("_api-docs.cshtml");
}
</hide>
<trim>
  <h2><em>RazorBlade</em> Tags.Strip(...) <em>v1.1</em></h2>
  <p>
    These demos show how to strip all html from a string. You often need this in combination with @hlp.TutLink("crop or ellipsis", "blade110") to create teasers.
  </p>
  @rzrHelp.ApiLinks(new string[] { 
    "Tags.Strip(...)", "https://razor-blade.net/api/ToSic.Razor.Blade.Tags.html#ToSic_Razor_Blade_Tags_Strip_System_String_",
    "Text.Crop(...)", "https://razor-blade.net/api/ToSic.Razor.Blade.Text.html#ToSic_Razor_Blade_Text_Crop_System_String_System_Int32_",
    "Text.Ellipsis(...)", "https://razor-blade.net/api/ToSic.Razor.Blade.Text.html#ToSic_Razor_Blade_Text_Ellipsis_System_String_System_Int32_System_String_"
  })
</trim>

@{
    var val1 = "<h1>Introduction</h1><p>Welcome to this blog post</p><hr><p>beginning with xyz we'll tell you more</p>";
    var cropLen = 50;
}

<h2>Simple example</h2>
<h3>Original</h3>
<code>@val1</code>

<div>which if cropped at @cropLen would be really messy</div>
<code>@val1.Substring(0, cropLen)</code>

<h3>After Strip</h3>
<code>@Tags.Strip(val1)</code>

<h3>Usually you will then combine with crop or ellipsis</h3>
<code>@Html.Raw(Text.Ellipsis(Tags.Strip(val1), cropLen))</code>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>