@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
@{  var hlp = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
  <h2><em>RazorBlade</em> AddIcon to Html Headers <em>v2.1</em></h2>
  <div>
    This page sets various icon headers according to best practices. 

    Look at the html-header in the output-source to see the effect. <br>
    The following links will set different icons depending on what you need.
  </div>
  <ul>
    @SubpageLink("Just add single icon", "one")
    @SubpageLink("Add default set incl. favicon and apple-touch", "set")
    @SubpageLink("Add default set without favicon", "nofav")
    @SubpageLink("Add default set with custom favicon (recommended)", "pngfav")
  </ul>
</trim>

@{
  // use url parameter to decide which icon(s) to show, and default to "set"
  var mode = Request.QueryString["mode"] ?? "set";

  // the icon we want to use for this page is this png file
  var iconUrl = App.Path + "/blade/assets/razor-blade-icon.png";

  // now add the headers depending on the demo you picked
  // in your code you would only use one of these
  if(mode == "one") {
    HtmlPage.AddIcon(iconUrl);
  } 
  else if (mode == "set") {
    HtmlPage.AddIconSet(iconUrl);
  } 
  else if (mode == "nofav") {
    HtmlPage.AddIconSet(iconUrl, favicon: false);
  }
  else if (mode == "pngfav") {
    HtmlPage.AddIconSet(iconUrl, favicon: iconUrl);
  }
}

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@helper SubpageLink(string label, string value) {
  @SubpageLink(label, "blade340=page", "mode", value)
}

@helper SubpageLink(string label, string root, string key, string value) {
  <li class='@(Request.QueryString[key] == value ? "selected" : "")'>
    <a href='@Link.To(parameters: "?" + root + "&" + key + "=" + value)'>
      @label
    </a>
  </li>
}
</hide>