@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@using System.Diagnostics;
@using System.IO;
@{
  var hlp = CreateInstance("../shared/_helpers.cshtml"); 
  var rzr = CreateInstance("_razorblade-version.cshtml");
  double version = rzr.VersionDouble();
}
</hide>

<trim>
<img src="@App.Path/blade/assets/razor-blade-wide.png" width="100%">
<p>
  Learn how to use <code>ToSic.Razor.Blade</code> fluent <code>Tag</code> API to do really cool stuff. This uses <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">ToSic.Razor.Blade</a>. 
</p>

@rzr.RazorVersionBox(3.00)
</trim>

<hr>
<h2><em>RazorBlade</em> Basic API to Generate Safe Attributes</h2>

<ol>

  @hlp.TutorialLink("Safe Html5 Attributes from code", "blade810", 
    "Working with attributes in your code to stay error-free", 
    "new!", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("Json Html5 Attributes from code", "blade811", 
    "Working with attributes in your code to stay error-free", 
    "new!", rzr.VersionInfo(version, 3.00))



</ol>

<hr>
<h2><em>RazorBlade</em> Fluent Html5 API</h2>
<div>
  <em>RazorBlade</em> 3 contains over 130 objects with hundreds of properties so you can quickly generate Html5 tags correctly and safely. 
</div>
<ol>
  @hlp.TutorialLink("Introduction to the Fluid Html5 API with 130+ objects like Img, Table etc.", "blade820", 
    "The basics of creating html directly from code", 
    "new!", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("Common Attributes (Id, Title, Class, Style) with SmartJoin", "blade822", 
    "Some attributes can be added, others replace the previous content. The attributes are super smart 💡", 
    "new!", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("Images with Unsafe URLs (Umlauts etc.)", "blade825img", 
    "The API automatically fixes unsafe URLs like Umlauts, japanese characters etc. - SuperSmart 😎", 
    "new!", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("Picture Tags for various sizes / resolutions", "blade825picture", 
    "Here's an example how to easily generate picture tags, which are the future of Images", 
    "new!", rzr.VersionInfo(version, 3.00))

  @hlp.TutorialLink("Start and End Tags", "blade828", 
    "In some cases you may want to just get the start or end-tag.", 
    "new!", rzr.VersionInfo(version, 3.00))



  @hlp.TutorialLink("Create custom (non Html5) tags", "blade829", 
    "Working with tags in your code to stay error-free and do amazing stuff", 
    "new!", rzr.VersionInfo(version, 3.00))



</ol>

<hr>
<h2>More Information around <em>RazorBlade</em></h2>
<ol>
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade", "RazorBlade Github Repo")
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade/releases", "RazorBlade download page")
  <li>Blogs
    <ul>
      @hlp.LiExtLink("https://2sxc.org/en/blog/tag/razor-blade", "Blog posts & tutorials on 2sxc.org around RazorBlade")
    </ul>
  </li>
</ol>
