@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // get helper commands
  var linkHelper = CreateInstance("LinkHelper.cs");
}

<div class="row">
@foreach (var link in AsList(Data)) {
  var linkInfo = linkHelper.LinkInfos(link);
  <div class="col-md-6 col-lg-4 mb-3 mb-md-4 co-linkblock co-linkblock-overlay" @Edit.TagToolbar(link)>
    @if (linkInfo.Found) {
      @:<a class= d-flex flex-column justify-content-between" href="@link.Link" target="@linkInfo.Window" title="@link.Title">
    }

    @if (Text.Has(link.Image)) {
      <figure class="effect-zoom">
        <div class="overlay w-100 p-4 h-100 d-flex flex-column justify-content-between">
          <div>
            <h4>@link.Title</h4>
            @if (Text.Has(link.Description)) {
              <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
            }
          </div>
          @if (linkInfo.Found) {
            <span>@link.LinkText <i class="fas fa-chevron-right" aria-hidden="true"></i></span>
          }
        </div>
        <img loading="lazy" class="img-fluid" src='@Link.Image(link.Image, Settings.Images.Content, factor: "1/3")' alt="@link.Title" />
      </figure>          
    } else {
      <div class="bg-primary placeholder"></div>
    } 
              
    @if (linkInfo.Found) {
      @:</a>
    }
  </div>
}
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "styles,scripts,icons"})