@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
@using Connect.Koi
<trim>
<img src="@App.Path/koi/assets/koi.png?w=400" class="float-right">
<h2>Show Warning if Bootstrap4 not Included or Unclear</h2>
<p>
  In this example, we'll assume your template needs <a href="https://getbootstrap.com/" target="_blank">Bootstrap4</a> as the preferred CSS framework. And we'll also assume, that you don't want to @helpers.TutLink("auto-include it", "koi110"), but instead want to warn the admin, to ensure he can correct the situation. This is what you want to do, when you believe the Admin should optimize the output, and prevent accidentally loading Bootstrap multiple times. 
</p>
<p>
  This page shows how to handle these problems with almost no code. We'll also show what you can do, so only admins see the message. <br>
  <em>BTW: to see that this works, try switching the theme of this page to one without a <code>koi.json</code> or one with a different css-framework.</em>

</p>
</trim>
@{  var bsCheck = CreateInstance("../shared/_bootstrap4.cshtml");  }
@bsCheck.EnsureBootstrap4()
@bsCheck.WarnAboutMissingOrUnknownBootstrap()

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/shared/",
  File = "bootstrap4",
  Size = 400
}) 
</hide>