@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<img src="@App.Path/koi/assets/koi.png?w=400" class="float-right">
<h2>Switch between template files based on Bootstrap Version</h2>
<p>
  In this example, we'll assume you have a Bootstrap3 and a Bootstrap4 template in the folders <code>bs3/_Line.cshtml</code> and the same in <code>bs4/_Line.cshtml</code>. We'll use Koi to load the right template file. 
</p>

<p>
  You can see in the source-codes that BS3 uses <code>pull-left</code> and another class on the blockquote tag than BS4.
</p>
</trim>

@*
  This page is just an entry point for your code. It will do the following:
  1. Check if it can detect the CSS framework used by the theme
    - if yes, it will use that
    - otherwise it will fallback to assume it's bootstrap 4 = "bs4"
    - note that the BS4 edition has an additional check for unknown frameworks
  2. Then it will load the real cshtml-template from the matching edition-folder
*@
@using Connect.Koi;
@using ToSic.Razor.Blade;
@RenderPage((Koi.If("bs3", "bs3", "bs4")) + "/_Alert.cshtml")

<hide>

@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Title = "Bootstrap3 template in /bs3/",
  Path = App.PhysicalPath + "/koi/bs3/",
  File = "Alert",
  Size = 200
}) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Title = "Bootstrap4 template in /bs4/",
  Path = App.PhysicalPath + "/koi/bs4/",
  File = "Alert",
  Size = 200
}) 
</hide>