@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ 
    var parts = CreateInstance("../shared/_Parts.cshtml");
    var coverParts = CreateInstance("_Parts - Cover.cshtml");
}

<section class='app-landingpage-builder app-lp-cover @parts.SectionClasses()'
    @parts.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start&class=coverTagbar")
    >
    @parts.BackgroundDiv()
    <div class="container-fluid d-flex align-items-center">
        @RenderPage("../shared/_Block.cshtml")
        <div class="row justify-content-center w-100 mt-5">            
            <div class="col-12 col-md-8 text-center mb-4" @Edit.TagToolbar(Content) @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
                @if (Text.Has(Content.Icon)) {
                    <i class="content-icon fas @Content.Icon" aria-hidden="true"></i>
                }
                @coverParts.Body()
                @parts.CtaList(Content.CTA)
            </div>
        </div>
        @parts.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts" })
