@*
  This sub template just places parts of the mail in span-attributes
  so that a JS can then re-asseble it when needed
  This is to prevent robots from collecting the e-mail address
*@
@{
  var eMail = PageData["email"];
  var isValid = new System.Text.RegularExpressions.Regex("^[^@]+@[^@]+\\.[^\\.]+$").IsMatch(eMail);
  if(isValid) {
    var madr = eMail.Split('@');
    var madrSuf = new System.Text.RegularExpressions.Regex("\\.([^\\.]+)$").Split(madr[1]);
    <span data-madr1="@madr[0]" data-madr2="@madrSuf[0]" data-madr3="@madrSuf[1]" data-linktext="@eMail"></span>
  } else {
    <span>@eMail</span>
  }
}
