@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  var popup = PageData["popup"];
}

<div class="popup">
  <div class="popup-close"><span>✖</span></div>

  @if(Text.Has(popup.Image)) {
    <img src='@Tags.SafeUrl(popup.Image + "?q=80&w=600&h=200&mode=crop")' />
  }

  <div class="popup-content">
    @Html.Raw(popup.Text)

    @if(Text.Has(popup.LinkText)) {
      <a href="@Tags.SafeUrl(popup.Link)" target='@(popup.LinkNewTab ? "_blank" : "_self")' class="btn btn-primary">@popup.LinkText</a>
    }
  </div>
</div>
<div class="background"></div>