@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
}

@RenderPage("_header.cshtml")


<h2>Simple Where(...) and Any()</h2>
<h3>Where(FirstName == "Terry")</h3>
<p>This filters the authors to only find Terry.</p>
<ol>
  @foreach(var person in persons.Where(p => p.FirstName == "Terry")) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>

<hr>
<h3>Where(FirstName.Length > 5)</h3>
<p>This filters the authors with long first names.</p>
<ol>
  @foreach(var person in persons.Where(p => p.FirstName.Length > 5)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>

<hr>
<h3>Any(FirstName.Length > 5 / 10)</h3>
<p>This filters the authors with long first names.</p>
<ol>
  <li>
    Persons with 5-char names or more: @persons.Any(p => p.FirstName.Length > 5)
  </li>
  <li>
    Persons with 10-char names or more: @persons.Any(p => p.FirstName.Length > 10)
  </li>
</ol>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>