@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}

@RenderPage("_header.cshtml")


<h2>Take() / Skip()</h2>
<h3>Take(3)</h3>
<p>Take the first three authors.</p>
<ol>
  @foreach(var person in persons.Take(3)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>


<hr>
<h3>Skip(3)</h3>
<p>Skip the first three authors.</p>
<ol>
  @foreach(var person in persons.Skip(3)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>


<hr>
<h3>Skip(3).Take(2)</h3>
<p>Skip the first three authors, then take 2.</p>
<ol>
  @foreach(var person in persons.Skip(3).Take(2)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>