@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;

@{
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}

@RenderPage("_header.cshtml")


<h2>Count()</h2>
<p>Count some stuff.</p>
<ol>
  <li>
    All Persons: @persons.Count()
  </li>
  <li>
    All Books: @books.Count()
  </li>
  <li>
    Books with Illustrators: @books.Where(b => (b.Illustrators as Dynlist).Count() > 0).Count()
  </li>
</ol>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>