@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var hlp = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
  <p>
    Learn the basics of Razor, like using variables, if/else and loops. 
  </p>

  <hr>
</trim>

<h2>Basic Examples</h2>

<ol>
  @hlp.TutorialLink("Create variables and show using @variableName", "basics110")
  @hlp.TutorialLink("if/else and ternary operator (condition ? true : false)", "basics210")
  @hlp.TutorialLink("Loops using for() and foreach()", "basics220")
</ol>

<hr>

<h2>Working with the URL and URL Parameters</h2>
<ol>
  @hlp.TutorialLink("Working with text URL Parameters like ?sort=ascending", "basics310", newText: "")
  @hlp.TutorialLink("Working with number URL Parameters like ?id=27", "basics311", newText: "")
</ol>


<hr>

<h2>Working with difficult URLs @hlp.Highlighted("(new!)")</h2>
<ol>
  @hlp.TutorialLink("Working difficult URLs like images containing umlauts", "basics410", newText: "(new!)")
</ol>
