<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>

<trim>
<h2>Re-using templates and code</h2>
<p>
  This will show you how to place partial templates into separate files, and how to put functions you need in many places in separate files as well. It focuses on <code>RenderPage</code> and <code>CreateInstance</code>. You'll see the sources of the other files at the bottom of this page.
</p>
</trim>

<hr>
<h2>Reusing Shared Stuff Examples</h2>

<ol>
  @helpers.TutorialLink("Reuse template with @RenderPage", "reuse110")
  @helpers.TutorialLink("Reuse Razor Helpers (mini-templates) with CreateInstance", "reuse210")
  @helpers.TutorialLink("Reuse a function library CreateInstance", "reuse310")
  @helpers.TutorialLink("Reuse code with .cs files", 
    "reuse320",
    "CreateInstance is enhanced in 2sxc 10.01 to support .cs files to share code across Razor files and WebApi Controllers.",
    "new in v10")
  @helpers.TutorialLink("Split Razor Templates into C#-Code and Template", 
    "reuse410",
    "Now you can split out complicated C# code so designers don't have to worry about it. ",
    "new in v11")
</ol>
