<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>Re-using Shared Templates</h2>
<p>
  Partial templates are <code>cshtml</code> files which you can use multiple times. Typically they will contain something which you need in many places, like a menu or a data-visualizer which gets data as a parameter, and then creates a different table each time. Here's how to use it with <code>RenderPage</code>. 
</p>
</trim>

<hr>
<h3>Just render the same, external file into here</h3>
<trim>
  <p>This uses <code>@@RenderPage</code> to get the file <code>_line.cshtml</code> 3 times.</p>
</trim>
@RenderPage("_line.cshtml")
@RenderPage("_line.cshtml")
@RenderPage("_line.cshtml")


<hr>
<h2>Passing in values</h2>
<trim>
<p>The next example passes in a word to the sub-template, so that can change what it does based on the variable</p>
</trim>
@RenderPage("_box.cshtml", new { Label = "Hello, this is the first line" })
@RenderPage("_box.cshtml", new { Label = "Second line!", Color = "red" })
@RenderPage("_box.cshtml", new { Label = "I'm last!", Color = "blue" })




<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = VirtualPath, 
  File = "line",
  Size = 100, 
}) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "box",
  Size = 160, 
}) 

</hide>