<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>Re-using Shared Razor Helpers</h2>
<p>
  Razor helpers are like functions that put HTML into the page. You can create them using the <code>@@helpers helpername() { ... } </code> syntax. What most people don't know: you can also share them, by placing them into a separate file. This lets you put a bunch of tiny helpers into a helpers-library and use them from elsewhere. To achieve this, we use <code>CreateInstance</code> to get an object with these methods, and then use it. 
</p>

<hr>
<h2>Using Shared Helpers</h2>
<p>The example takes a cshtml file using <code>CreateInstance(...)</code>and uses it as a central helpers library. The helper <code>PreviewWithLightbox</code> will generate a thumbnail, include Fancybox3 (only the first time) and ensure you can click it for a full image. </p>
</trim>
@{
  var helpers = CreateInstance("../shared/_fancybox.cshtml");
}
@helpers.PreviewWithLightbox(@App.Path + "/app-icon.png")
&nbsp;
@helpers.PreviewWithLightbox(@App.Path + "/reuse/demo.png", 200, 100)

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/shared/",
  File = "fancybox",
  Size = 400
}) 
</hide>