@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>Reuse code with .cs files (new in 2sxc 10.01)</h2>
<p>
  Starting with 2sxc 10.01 <code>CreateInstance()</code> can also be used with .cs files,
  from both razor pages as well as WebApi controllers.
  This allows you to create shared code which can be used in Razor and WebApi controllers.
</p>
</trim>

<hr>
<h2>Using shared library of simple functions</h2>
<trim>
<p>
  The example takes a cs file <code>FunctionsBasic.cs</code> with shared code in a class <code>FunctionsBasic</code>.
  This example uses a simple C# class, so the code only has what's in it.
</p>
</trim>
@{
  var lib = CreateInstance("FunctionsBasic.cs");
}
<div>Hello from FunctionsBasic: @lib.SayHello()</div>

<hr>
<h2>Using a different Class from a library files</h2>
<trim>
<p>
  The example takes a cs file with shared code, but gets the class <code>Second</code>.
</p>
</trim>
@{
  var lib2 = CreateInstance("FunctionsBasic.cs", name: "Second");
}
<div>Hello from FunctionsBasic: @lib2.SayHello()</div>

<hr>
<h2>Using shared code with context</h2>
<trim>
<p>
  Often you may need context - like the <code>Dnn</code> or <code>App</code> objects.
  We made this easy by defining a base class you can inherit from, called <code>ToSic.Sxc.Dnn.DynamicCode</code>.

  If you use that as your base-class, all existing context is automatically attached, allowing you to
  access variables like <code>App</code>.
</p>
</trim>
@{
  var powerLib = CreateInstance("FunctionsWithContext.cs");
}
<div>
  <img src='@powerLib.QrPath("https://2sxc.org")' width="75px">
</div>

<hide>
<hr>
<h2>Using shared libraries in WebApi Controllers</h2>
<p>
  The mechanism above also works in WebApi Controllers (if you have 2sxc 10.01+).
  Note that specifically in WebApi you can only use <code>CreateInstance(...)</code> for <code>.cs</code> files.
</p>
</hide>

@* tell 2sxc that we'll use the js API *@
@Edit.Enable(js:true)

<blockquote>
  Click to see the result of a WebApi call with the shared code:
  <button type="button" class="btn btn-primary" onclick="callApiWithSharedCode(this)">
    Call WebApi
  </button>
</blockquote>

<script>
  function callApiWithSharedCode(context) {
    $2sxc(context).webApi.get('app/auto/reuse/api/sharedcode/hello')
      .then(function (results) {
        console.log(results);
        alert(results);
      });
    return false;
  }
</script>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath })

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "FunctionsBasic.cs",
  Size = 400,
  Language = "csharp"
})

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "FunctionsWithContext.cs",
  Size = 400,
  Language = "csharp"
})

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "api/SharedCodeController.cs",
  Size = 400,
  Language = "csharp",
  TitlePath = "/reuse/",
})
</hide>