@* Note that the Code-Behind features requires this @inherits statement *@
@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
</hide>

<trim>
<h2>Use Code-Behind in Razor Templates (new in V11)</h2>
<div class="alert alert-info">
  <p>
    Razor Templates should be simple to edit for web designers. When you end up getting complex functions we recommend placing them in a Code-Behind file. This is different from shared code, since the code isn't shared. We're just splitting a razor file into the code-parts and design parts. 
  </p>
</div>
</trim>

<hr>
<h2>Calling a function from the code-behind</h2>
<trim>
<p>This calls the function <code>Hello()</code> from the Code-Behind.</p>
</trim>

<div>Hello from Code Behind: <strong>@Code.Hello()</strong></div>

<hr>
<h2>Calling a helper from the code-behind</h2>
<trim>
<p>This creates a special alert-div using a Helper called <code>Message</code> from the Code-Behind.</p>
</trim>

@Code.Message("Message in a special format")

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "_410-code-behind.code.cshtml",
  Size = 400, 
  // Language = "csharp"
}) 
</hide>