@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var locationHelper = CreateInstance("_LocationHelper.cshtml");
  // run helper command
  var mapInfo = locationHelper.MapInfos(Content);
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;
}
@locationHelper.AddGoogleMapsKey()
@RenderPage("../shared/_Assets.cshtml", new { parts = "scripts,icons"})

<div class="co-container-outer">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="co-google-map-container embed-responsive embed-responsive-16by9">
			<div class="co-google-map embed-responsive-item" id="GoogleMap-@mapId"></div>
			<div class="co-google-map-content" id="GoogleMap-Content-@mapId" style="display:none;">
				<div>
					<strong>@Content.Company</strong>
					<div>@Html.Raw(Content.Description)</div>
					<a target="_blank" href="@mapInfo.DirectionUrl">@Content.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>

@RenderPage("_LocationScript.cshtml", new { markerImage = Content.Presentation.MarkerImage, mapId = mapId, mapInfo = mapInfo, company = Content.Company })
