@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Blocks;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;

<div class="co-container-outer app-@Dnn.Module.ModuleID position-relative" @Edit.TagToolbar(Content, toolbar: "+contentitems&pos=2?contentType=Question")>
	<div class="co-container-inner co-accordion-wrapper" @Edit.Attribute("quick-edit-config", new { modules = new {  enable = true }})>
    @* Display the categories *@
    @if(App.Settings.UseCategories && Content.Categories.Count > 1) {
			<div class="faq-category-wrapper" @Edit.TagToolbar(toolbar: new [] {
        "toolbar=empty",
        "contentitems?contentType=Category",
        "settings&hover=left"
      })>
        <ul>
          <li class="faq-category-element btn btn-primary" data-filter="nofilter">
            @App.Resources.LabelShowAll
          </li>
          @foreach (var c in Content.Categories) {
            <li class="faq-category-element btn btn-primary" data-filter="@c.Key">
              @c.Name
            </li>
          }
        </ul>
      </div>
    }

    @* List the questions *@
    <div class="question-wrapper-outer">
			<div class="question-wrapper">
			@foreach (var q in Code.GetQuestionsSorted()) {
				// get the categories for interactive (JavaScript) filtering
				var qCats = Json.Encode( (q.Categories as Dynlist).Select(x => x.Key) );

				// should this be expanded initially? default is false
				var initiallyExpanded = q.InitiallyExpanded ?? false;

				// use the icon or default to question-circle
				var icon = Text.First(q.Icon, "fa-question-circle");

				<div class="co-accordion-item" data-filterelem="@qCats" @Edit.TagToolbar(q, toolbar: new [] {
          "-layout",
          "%new&show=true?contentType=Question&entityId=0"
        })>
						@* title bar with expansion icon *@
						<div id="a-@q.EntityId" class='co-accordion-title @(initiallyExpanded ? "active" : "")'>
							<h2 @Edit.Attribute("title", Code.AdminHelperText(q))>
								<span><i class="co-icon fas @icon" aria-hidden="true"></i></span>
								@Tags.Nl2Br(q.Question)
							</h2>
						</div>

						@* Show the answer; compact or expanded *@
						<div class="co-accordion-content" style='@(initiallyExpanded ? "display:block;" : "")'>
							@Render.All(q, field: "DesignedContent", merge: q.Answer)
						</div>
				</div>
			}
			</div>
    </div>
	</div>
</div>

<link rel="stylesheet" href="@App.Path/dist/bs3.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<script src="@App.Path/dist/scripts.min.js" data-enableoptimizations="true" ></script>
<script>
    // initialize the javascripts for the FAQ
    new faq.App(@Dnn.Module.ModuleID);
</script>