@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
  var termGroups = AsList(App.Data["Term"])
    .GroupBy(l => l.Title.Substring(0, 1).ToUpper())    // group by first letter
    .OrderBy(s => s.Key);                               // sort asc
}

<div class="app-glossary3" @Edit.TagToolbar(toolbar: "contentitems?contentType=Term")>
  <nav class="navbar navbar-default">
    <div class="navbar-header" data-toggle="collapse" data-target="#glossary-nav-@Content.EntityId" aria-expanded="false">
      <span>@Resources.GlossaryMenu</span>
      <span class="collapsed app-glossary3-toggle" title="@Resources.GlossaryMenu" ></span>
    </div>
    <div class="collapse navbar-collapse" id="glossary-nav-@Content.EntityId">
      <ul class="nav navbar-nav app-glossary3-letterlist">
      @foreach(var grp in termGroups) {
        <li><a href='@Tags.SafeUrl("#" + grp.Key)'>@grp.Key</a></li>
      }
      </ul>
    </div>
  </nav>
  <div class="app-glossary3-terms">
    @Html.Partial("./_Glossary.PartTermGroups.cshtml", new { TermGroups = termGroups } )
  </div>
</div>

@Html.Partial("./_Glossary.PartAssets.cshtml")