@inherits ToSic.Sxc.Dnn.RazorComponent
@{
  var someJson = System.IO.File.ReadAllText(App.PhysicalPath + "/json/demo.json");
  var thing = AsDynamic(someJson);
}
<hide>
@RenderPage("_header.cshtml")

<h2>Working with JSON Data</h2>
  <p>
    JSON data can be tricky. The easiest way is to convert it to a dynamic object using <code>AsDynamic(string)</code>. Then you can easily use it in your code. 
  </p>
</hide>

<hr>
<h3>Show properties and sub-properties - case insensitive</h3>
<ul>
  <li>Title: @thing.Title</li>
  <li>Description: @thing.IsCool</li>
  <li>Sub-item title: @thing.SubItem.Title</li>
  <li>Is this a list/array? @thing.IsList </li>
  <li>Are the tags a list? @thing.Tags.IsList </li>
</ul>

<hr>
<h3>Going through a list</h3>
<ol>
@foreach(var tag in thing.Tags) {
  <li>@tag   </li>
}
</ol>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Title = "Demo.json ",
  Path = App.PhysicalPath + "/json/",
  File = "demo.json",
  Size = 400,
  Language = "json"
}) 

</hide>