@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles"})

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner">
    <ul class="co-documents row">
      @foreach (var link in AsList(Data))
      {
        var linkInfo = linkHelper.LinkInfos(link.Link, link.Window, link.Icon);

        <li class="co-document col col-md-12" @Edit.TagToolbar(link)>
          @if(linkInfo.Found) {
            @Tag.A().Title(link.Title).Href(link.Link).Target(linkInfo.Window).TagStart
          }
            <span class="text-primary fas @linkInfo.Icon pull-left"></span>
            <div class="co-document-text">
              <span class="@(linkInfo.Found ? "co-link" : "")">@link.Title</span>
              <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
            </div>
          @if(linkInfo.Found){
            @Tag.A().TagEnd
          }
        </li>
      }
    </ul>
	</div>
</div>