@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;

@{
  var post = AsList(Data).FirstOrDefault();
  @* Show post not found notification and stop processing *@
  if(post == null) {
    <h1>@App.Resources.LabelPostNotExists</h1>
    <p>@App.Resources.LabelPostNotExistsText</p>
    @Code.BackToListButton()
    @Code.SetNotFoundHttpHeaders()
    return;
  }

  var author = post.Author;

	// only add meta-tags if it's rendered as page - not when the search-index is accessing the template
	if (HttpContext.Current.Handler is Page) {
		Code.AddMetaTags(post);
	}
}

<section class="app-blog">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <article class="post-detail" @Edit.TagToolbar(post, toolbar: new [] { "-layout", "%delete&show=true" })>
        <div class="header">
          @* Image of the post *@
          @RenderPage("shared/_Post Image.cshtml", new { Post = post, Width = 1200, Height = 630 })

          @* Information about the post like title, author, categories *@
          @RenderPage("shared/_Post Information.cshtml", new { Post = post, HeadingType = "h1"})
        </div>

        @* Body of the post - will also create inner content blocks / apps *@
        <div class="content">
          @ToSic.Sxc.Blocks.Render.All(post, field: "InnerContent", merge: post.Content)
        </div>

        <div class="footer">
          @* List tags of post *@
          @if((post.Tags as Dynlist).Any()) {
            <div class="tags">
              <strong>@(post.Tags.Count > 1 ? @App.Resources.Tags : @App.Resources.Tag): </strong>
              @foreach (var tag in post.Tags) {
                <a class="btn btn-sm btn-light" href='@Tags.SafeUrl(Link.To(parameters: "tag=" + tag.Tag))' title="@tag.Name">@tag.Name</a>
              }
            </div>
          }

          @* render social sharing here - to update the link, change it in the App settings *@
          <script type="text/javascript" src="@App.Settings.SocialAddThisJS" ></script>
          <div class="addthis_inline_share_toolbox d-sm-block d-md-none"></div>
          <hr />

          @* show the author *@
          <div class="authordetails">
            <div>
              @if(Text.Has(author.Image)) {
                <img src='@Tags.SafeUrl(author.Image + "?w=120&h=120&mode=crop&quality=70")' alt="@author.FullName" />
              }
              @Html.Raw(author.ShortBio)
            </div>
            <div>
              @App.Resources.ReadMoreAuthor <a href='@Tags.SafeUrl(Link.To(parameters: "author=" + author.FullName))'>@author.FullName</a>
            </div>
          </div>
          <hr />

          @* Show preview of previous and next post *@
          @{
            var previousPost = AsList(Data["Previous"]).FirstOrDefault();
            var nextPost = AsList(Data["Next"]).FirstOrDefault();
          }
          <div class='article-links d-flex align-items-center @(previousPost == null ? "justify-content-end" : "justify-content-between")'>
            @if (previousPost != null) {
              @Code.PostMicroPreview(previousPost, "previous")
            }
            @if (nextPost != null) {
              @Code.PostMicroPreview(nextPost, "next")
            }
          </div>
          <hr />

          @* Show "Back to list" button *@
          @Code.BackToListButton()

          @* Mobile Category filter *@
          <aside class="d-xs-block d-lg-none">
            @RenderPage("shared/_Category Filter.cshtml", new { MobileView = true})
          </aside>
        </div>
      </article>
    </div>

    @* Desktop Category filter *@
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <aside class="d-none d-lg-block">
        @RenderPage("shared/_Category Filter.cshtml", new { EnableSocialSharing = true})
      </aside>
    </div>
  </div>
</section>

@RenderPage("shared/_Assets.cshtml", new {scripts = true})
