@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
  var helpers = CreateInstance("shared/_Helpers.cshtml");
}

@* Show details page warning *@
@if(Edit.Enabled) {
  if(!Text.Has(App.Settings.DetailsPage)) {
    <div class="alert alert-danger" role="alert">@Html.Raw(@App.Resources.LabelAdminDetailPageWarning)</div>
  }
}

<section class="app-blog" @Edit.TagToolbar(Content)>
  <div class="category-header"><h1>@Content.Title</h1></div>

  @* List the posts in 3 columns *@
  <div class="row card-deck">
    @foreach (var post in AsList(Data["Posts"])) {
      var imageUrl = Text.Has(post.Image) ? post.Image : App.Resources.PlaceholderMissingImage;

      <article class="list-item col-12 col-md-6 col-lg-4" @Edit.TagToolbar(post, toolbar: new [] {
        "-layout",
        "%new&show=true?contentType=BlogPost&entityId=0&prefill:PublicationMoment=" + DateTime.Now.ToString("yyyy-MM-dd"),
        "%delete&show=true"
      })>
        <div class="app-blog-readmorelink card m-0">
          <a class="link-overlay" href="@helpers.LinkToDetailsPage(post)"></a>

          @* Image of the post *@
          @RenderPage("shared/_Post Image.cshtml", new { Post = post, Width = 800, Height = 480 })

          <div class="card-body d-flex flex-column">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text text">@Html.Raw(Tags.Strip(post.Teaser))</p>
          </div>
          <div class="card-footer">
            <span class="readmore btn btn-outline-primary float-right">@App.Resources.ReadMore</span>
          </div>
        </div>
      </article>
    }
  </div>

  @* Show pagination if configured *@
  @if (Content.ShowPagination) {
    @RenderPage("shared/_List Paging.cshtml")
  }
</section>

@RenderPage("shared/_Assets.cshtml")
