@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
<?xml version="1.0" encoding="utf-8"?>

@{
  var detailsPageTabId = Text.Has(App.Settings.DetailsPage)
    ? int.Parse((AsEntity(App.Settings).GetBestValue("DetailsPage")).Split(':')[1])
    : Dnn.Tab.TabID;
}

@if(Request.QueryString["standalone"] == "true") {
<rss version="2.0">
  <channel>
    @Tag.Custom("title", App.Settings.Title)
    @Tag.Custom("link", Link.To())
    @Tag.Custom("description", App.Settings.RssDescription)
    @foreach(var post in AsList(Data["AllPosts"])) {
      <item>
        @Tag.Custom("title", post.EntityTitle)
        @Tag.Custom("link", Link.To(pageId: detailsPageTabId, parameters: "details=" + post.UrlKey))
        @Tag.Custom("description", post.Teaser)
        @Tag.Custom("guid", post.EntityGuid.ToString()).Attr("isPermaLink", false)
        @Tag.Custom("pubDate", post.PublicationMoment.ToString("R"))
      </item>
    }
  </channel>
</rss>
} else {
  <span @Edit.TagToolbar(Content)>
    You are seeing this because you are currently viewing a normal page.
    To use this feed correctly, you must add ?standalone=true to the url, so it doesn't show dnn stuff or html.
    Note that you can put the feed on an own page and then link to it
    <a href="@Link.To(parameters: "standalone=true")" target="_blank">(with ?standalone=true)</a>
    or you can also auto-use it by using the normal blog-page and where you would usually see things like /tag/something replace with /feed/all?standalone=true
  </span>
}