@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@*
    this is a partial template which is re-used in many other templates, so it's shared here
    its shows the person data like name, position, concact data and description
*@
@{
    var person = PageData["data"];
}
<div class="co-p">
    <strong itemprop="name">@person.FullName</strong><br />
    @if (Text.Has(person.Position))
    {
      <span itemprop="jobTitle">@person.Position</span><br />
    }
</div>
<div class="co-p">
  @if (Text.Has(person.Email))
  {
    <div itemprop="email">
      <span class="fas fa-envelope"></span>
      @RenderPage("../shared/_TryToEncryptMail.cshtml", new { email = person.Email })
    </div>
  }
  @if (Text.Has(person.Mobile))
  {
    <span class="fas fa-mobile" aria-hidden="true"></span> <a href="tel:@person.Mobile.Replace(" ", "")" itemprop="telephone">@person.Mobile</a><br />
  }
  @if (Text.Has(person.Phone))
  {
    <span class="fas fa-phone" aria-hidden="true"></span> <a href="tel:@person.Phone.Replace(" ", "")" itemprop="telephone">@person.Phone</a><br />
  }
</div>
<div itemprop="description">@Html.Raw((string)person.Description)</div>