@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Globalization
@using System.Linq
@using System.Web.UI.WebControls
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components
@using Nevoweb.DNN
@using DotNetNuke.Entities.Users;


@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/OS_Reports/App_LocalResources/")

@{
    // assign Model, so we can resolve var in VS
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" />
<input id="editlang" type="hidden" value="@info.Lang" />
<input id="currentlang" type="hidden" value="@CultureInfo.CurrentCulture" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
<input id="typecode" type="hidden" value="NBSREPORT" /><!-- used as selected edit itemid -->
<input id="selectlang" type="hidden" value="" /><!--used to switch languages -->

<div class="col-xs-12 col-sm-12">
    <div class="form-group">
        <div class="col-sm-12">

            <!--Report Ref  -->
            <div class="col-sm-5">
                <label>@ResourceKey("Admin.ref")</label>
                @TextBox(info, "genxml/textbox/ref", "class='form-control'")<!--Inject data from DB-->
            </div>

            <!--Report name  -->
            <div class="col-sm-5">
                <label>@ResourceKey("Admin.name")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
                @TextBox(info, "genxml/lang/genxml/textbox/name", "class='form-control'")<!--Inject data from DB-->
            </div>

            <!--In-line report-->
            @{
                var rk3 = ResourceKey("Admin.inline").ToString();
            }
            <div class="col-sm-12">
                @CheckBox(info, "genxml/checkbox/inline", rk3, "")
            </div>

            <!--Report description-->

            <div class="col-sm-12">
                <label>@ResourceKey("Admin.description")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
                @TextArea(info, "genxml/lang/genxml/textbox/description", "class='form-control' rows='4' ")
            </div>

            <!--SQL textbox-->
            @{
                var disabledsql = "";
                if (!UserController.Instance.GetCurrentUserInfo().IsSuperUser)
                {
                    disabledsql = " disabled ";
                }
            }

            <div class="col-sm-12">
                <label>@ResourceKey("Admin.sql")</label>
                @TextArea(info, "genxml/textbox/sql", "class='form-control' rows='12' " + disabledsql + " ")
            </div>

            <!--Html report-->

            <div class="col-sm-9">
                <label>@ResourceKey("Admin.reportformat")</label>
                @RadioButtonList(info, "genxml/radiobuttonlist/reportformat", "html,csv", "HTML,CSV", "", "html")
            </div>
            <div class="col-sm-3">
                <label> Ref: @info.GUIDKey Id: @info.ItemID</label>
            </div>

        </div>
    </div>


