@inherits Custom.Hybrid.Razor12
@{
  /* This Template is used in ca. 3 Views which only show the title and the text */

  var cols = Settings.ColsElement1;
  var padding = Settings.ColsPaddingLeft;
  var styling = Settings.TextAlignment == "c" ? "text-center" : "";

  var allContent = AsList(Data);
  var allContentLength = allContent.Count();
  var hasMultipleItems = allContentLength > 1;
}
@if (hasMultipleItems && Edit.Enabled) { <div class='pt-4' @Edit.TagToolbar(Header)></div> }
@for(var iteration = 0; iteration < allContentLength; iteration++)
{
  var item = allContent.ElementAt(iteration);
  <div class='row @(iteration == (allContentLength - 1) ? "" : "mb-4 mb-lg-5")'>
    <div class='col-md-@cols offset-md-@padding @styling' @Edit.TagToolbar(item)>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/_Header tag.cshtml", new { Title = item.Title })
      @Html.Raw(item.Text)
    </div>
  </div> 
}


@Html.Partial("../shared/_Assets.cshtml", new { parts = "styles,scripts"})