@inherits ToSic.Sxc.Dnn.RazorComponent
@using System.Linq;

@{
    var count = 1;
}

@foreach(var idea in AsList(Data)) {
    <div class="row mb-4 mb-md-5" @Edit.TagToolbar(idea)>
    	<div class="col-md-4 order-md-1">
    		<img class="img-fluid" src='@idea.Image?w=540&h=405&mode=crop&scale=both' alt="@idea.Name" />
    	</div>
    	<div class="col-md-8 order-md-4">
            <h1>
                #@(count++) @idea.Name @(idea.Journal.Short != null ? "✔" : "")
            </h1>
            @Html.Raw(idea.Description)
            
            @if(idea.Journal.Short != null) {
                <div @Edit.TagToolbar(idea.Journal)>
                    <hr>
                    ✔ <strong>@idea.Journal.Short</strong> (@idea.Journal.Date) <br/>
                    @Html.Raw(idea.Journal.Notes)
                </div>
            }
    	</div>
    </div>
}

