@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@*
	This is a sub-template of the image templates
	Put all necessary link/script tags here
*@
@RenderPage("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts,height"})

@{
	var width = PageData["width"];
	var height = PageData["height"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
	var quality = 75;
	var lightboxQuality = 90;
}

<div class="co-container-outer">
	<div class="co-container-inner co-img-wrapper co-img-wrapper-@(Dnn.Module.ModuleID) co-2colimg">
		<div class="row">
			@foreach (var img in AsList(Data))
			{
				<div class="co-img-imagelist @((columns) > 10 ? "col-xs-12" : "col-xs-6") col-md-@columns" @Edit.TagToolbar(img)>
					@if (img.Presentation.ImageLightbox != false) {
            @(Tag.A()
              .Class("fancybox")
              .Href(img.Image + "?quality=" + lightboxQuality + "&maxwidth=" + zoomW + "&maxheight=" + zoomH)
              .Attr("data-caption", img.Presentation.TitleLightbox != false ? img.Title : "")
              .Attr("data-fancybox", "group-" + Dnn.Module.ModuleID)
              .TagStart)
					}
					<figure>
            <div class="co-overlay">
              @if(img.Presentation.TitleLegend != false){
                <figcaption>@img.Title</figcaption>
              }
            </div>

            @(Tag.Img()
              .Class("img-responsive")
              .Src(img.Image + "?w=" + width + "&h=" + height + "&anchor=" + img.CropAnchor + "&mode=crop&scale=both&quality=" + quality)
              .Alt(img.title))
					</figure>
					@if (img.Presentation.ImageLightbox != false) {
						@Tag.A().TagEnd
					}

				</div>
			}
		</div>
	</div>
</div>