@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>

<trim>
<h2>Working with Data</h2>
  <p>
    If you want to work with <strong>data</strong> (like from a database) instead of <strong>@helpers.TutLink("content", "content")</strong> (which are data items assigned to one instance) you need to get it from somewhere and then loop through it. Typical data comes from:
  </p>
  <ul>
    <li>the current App, using <code>App.Data[...]</code></li>
    <li>a query in the App, using <code>App.Query[...]</code></li>
    <li>a SQL database - either through an <code>App.Query</code>, from a <code>DataSource</code> or from a <code>SqlReader</code></li>
    <li>a CSV file - either through an <code>App.Query</code>, from a <code>DataSource</code> or from your own code</li>
    <li>DNN objects like the users - either through an <code>App.Query</code>, from a <code>DataSource</code>, from DNN-objects or from your own code</li>
    <li>a JSON or XML file - usually loaded from your own code</li>
    <li>a WebService - usually loaded from your own code</li>
  </ul>
  <p>
    Once you have the data, you will usually want to loop-and-show, which is easiest using <code>dynamic</code> objects, so you can just type things like <code>@@Content.FirstName</code> to show the properties. 
  </p>
</trim>


<h2>Data of the current App.Data</h2>

<ol>
  @helpers.TutorialLink("Data from the App using App.Data", "data210")
</ol>

<hr>
<h2>Data from App.Query</h2>

<ol>
  @helpers.TutorialLink("Using App.Query", "data220")
  @helpers.TutorialLink("CSV data from an App.Query", "data230")
  @helpers.TutorialLink("SQL data from an App.Query", "data310")
  @helpers.TutorialLink("SQL data from an App.Query with Params", "data311", "new!")
  @helpers.TutorialLink("App.Query with Params - Run multiple times", "data312", "new!")
</ol>

<hr>
<h2>Data from direct SQL</h2>

<ol>
  @helpers.TutorialLink("SQL data from a SQL query and DataTable", "data330")
  @helpers.TutorialLink("SQL data from a SQL query and DataReader", "data331")
</ol>

<hr>
<h2>Data from DNN/DotNetNuke</h2>

<ol>
  @helpers.TutorialLink("DNN data (pages/tabs) from the DNN TabController", "data510")
</ol>

<hr>
<h2>Parent/Child a.k.a. List/Details @helpers.Highlighted("(new!)")</h2>

<ol>
  @helpers.TutorialLink("List-Details with one template and code-only", "data610", newText: "(new!)")
  @helpers.TutorialLink("List-Details with three templates and code-only", "data611", newText: "(new!)")
  @helpers.TutorialLink("List-Details with two templates, automatic view-switching", "data620", newText: "(new!)")
  @helpers.TutorialLink("List-Details with two templates, automatic view-switching and query", "data621", newText: "(new!)")
</ol>


<hr>
<h2>Future Examples (pending)</h2>
<ul class="unready">
  @helpers.TutorialLink("SQL data using PetaPoco", "data340")
</ul>
