@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
@{
  var snippets = CreateInstance("_helpers.cshtml");
}
<trim>
<h2>Basic Example from App.Data</h2>
<p>
  The easiest data to access comes from the current environment - like from the App or from DNN itself. The following example gets <code>Persons</code> data from the <code>App.Data["Persons"]</code> and just loops through them. This is similar to the example in the @helpers.TutLink("content", "content") tutorial, except that the data comes from the <code>App.Data</code> instead of the current <em>instance</em> <code>Data</code>.
</p>
</trim>
<ul>
  @foreach(var person in AsList(App.Data["Persons"])) {
    @snippets.ShowPersonListItem(person)
  }
</ul>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "helpers",
  Size = 400, 
}) 
</hide>