@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
<h2>List Details using Automatic View-Switching</h2>
<p>
  The previous examples showed you how to do things "manually". In this example, the 2sxc-view configuration says that the main view should come when <code>data620</code> is in the url, and that the details view should come, when <code>data620id</code> (for details) is in the url. This automatic view switching makes life easier and code shorter:). 
</p>
</trim>

  <h3>List of Persons</h3>
<ul>
  @foreach(var person in AsList(App.Data["Persons"])) {
    <li>
      <a href='@Link.To(parameters: "data620id/" + person.EntityId )'>
        @person.FirstName @person.LastName
      </a>
    </li>
  }
</ul>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>