@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  
  var helpers = CreateInstance("../shared/_helpers.cshtml"); 
  var fancybox = CreateInstance("../shared/_fancybox.cshtml");
}
@fancybox.PreviewWithLightbox(App.Path + "/data/assets/view-details-auto-query-configuration.png", 400, 200, "float-right")
</hide>
<trim>

<h2>Details using Automatic View-Switching</h2>
<p>
  You now see the details page. The code is even shorter, because it is using a query, which already does the <em>look-for-id</em>. The image to the right shows where this configuration is applied to the view. 
</p>
</trim>

<img src="@Content.Mugshot?w=50&h=50&mode=crop" width="50px" style="border-radius: 50%" class="float-left">
<h3>Details of @Content.FirstName @Content.LastName</h3>
<a href='@Link.To(parameters: "data621/true")'>back to list</a>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>