@inherits ToSic.Sxc.Dnn.RazorComponent
<hide>
@RenderPage("_header.cshtml")
@{  var helpers = CreateInstance("../shared/_helpers.cshtml"); }
</hide>

<trim>

<h2>Toolbar Customization</h2>
<div class="alert alert-info">
  <p>
    These examples use the simple API provided in 2sxc 11. 
  </p>
</div>
<ol>
  @helpers.TutorialLink("Customize Toolbars", "ui100", "(new ⭐)")
</ol>
<br>
<h4>More Information around Customizing the Edit UX</h4>
<ol>
  @helpers.LiExtLink("https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html", "2sxc Docs showing how to customize the toolbar")
  @helpers.LiExtLink("https://docs.2sxc.org/specs/cms/toolbars/toolbar-builder.html", "2sxc Docs showing specs for customizing the toolbar")
  @helpers.LiExtLink("https://docs.2sxc.org/specs/js/commands.html", "List of commands (button-names)")
</ol>

<hr>

<h2>Custom Input Fields (new in 11.02 ⭐)</h2>
<div class="alert alert-info">

  <p>
    Since 2sxc 11.02 it's really easy to create custom input fields. We're really proud of it - it uses standard WebComponents. 
  </p>
</div>
<ol>
  @helpers.TutorialLink("Basic HelloWorld Input Field", "ui201", "(new)")
  @helpers.TutorialLink("Custom Color Picker using Pickr", "ui211", "(new)")
  @helpers.TutorialLink("Configurable Color Picker", "ui221", "(new)")
  @helpers.TutorialLink("Custom lightweight WYSIWYG (4 buttons)", "ui241", "(new)")
  @helpers.TutorialLink("Custom WYSIWYG with 1 additional button, multi-language", "ui242", "(new)")
</ol>

<br>
<h4>More Information around Customizing the Edit UX</h4>
<ol>
  @helpers.LiExtLink("https://docs.2sxc.org/how-to/customize-edit-ux/input-fields.html", "How-To Docs for Custom Input Fields")
  @helpers.LiExtLink("https://docs.2sxc.org/specs/form/index.html", "Specs for Field Customization")
  @helpers.LiExtLink("https://docs.2sxc.org/specs/form/field-wysiwyg.html", "Specs for WYSIWYG customization")
</ol>
