<hide>
@inherits ToSic.Sxc.Dnn.RazorComponent
@RenderPage("_header.cshtml")
@{
  CreateInstance("Shared.cs").EnableEditForAnonymous(Edit);
}

<h2>2sxc Custom Color-Picker Input Field - Configurable</h2>
<div class="alert alert-info">

<p>
  Input fields may expect some configuration - like default colors or WebApi endpoints. To enable such a configuration, we need a Content-Type which defines all the fields that can be configured. This can be in the app-data, or it can be stored in a subfolder of the field-extension, to make redestribution easier. <br>
  This example contains the json-exported content-type in the folder <code>/system/field-string-app-color-pickr-pro/.data/contenttypes/</code> so you could just copy the extension folder to another app and use it from there. 
</p>
<p>So in this tutorial you'll learn how to:</p>
<ul>
  <li>To see how the UI changes based on field configuration</li>
  <li>How to access such pre-configured settings with <code>connector.field.settings</code></li>
  <li>The Content-Type for configuration is included in the extension folder</li>
</ul>
</div>

<hr>
</hide>

<h2>Configurable Color-Picker Input Field</h2>
<p>
  This example shows two color-picker fields, with different initial configurations. <br>
  Hit this edit button to have a look: @Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=UiStringColorPickrPro" })
</p>

<hide>
@RenderPage("_warning-and-links.cshtml")

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "../system/field-string-app-color-pickr-pro/index.js",
  Size = 1000,
  Language = "javascript",
  Title = "Source of [App]/system/field-string-app-color-pickr/index.js"
})

@RenderPage("../shared/_source-code.cshtml", new {
  Path = VirtualPath,
  File = "../system/field-string-app-color-pickr-pro/.data/contenttypes/System.Fields.459d4ce3-b96b-4664-9947-75e46df9d33e.json",
  Size = 400,
  Wrap = true,
  Language = "json",
  Title = "Source of [App]/system/field-string-app-color-pickr-pro/.data/contenttypes/System.Fields.459d4ce3-b96b-4664-9947-75e46df9d33e.json"
})

</hide>