@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  var backgroundImage = Text.Has(Header.Background)
    ? "background-image: url(" + Tags.SafeUrl(Header.Background) + "?w=1600&quality=60)"
    : "";
}

<div class='container-outer co-counter @(Text.Has(Header.Background) ? "co-counter-background " : "" )' style="@backgroundImage"
  @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start")>
  <div class="container-inner">
    <div class="co-counter-wrapper">
      <div class="row">
        @foreach (var fact in AsList(Data)) {
          <div class="co-counter-col col-12 col-sm-6 col-md-3" @Edit.TagToolbar(fact, toolbar: "-layout")>
            <div class="co-counter-item">
              <i class="co-icon fas @fact.Icon fa-3x" aria-hidden="true"></i>
              <h2>
                <span class="counter" data-count="@fact.Number"></span>@(Text.Has(fact.Unit) ? " " + fact.Unit : "")
              </h2>
              <span>@fact.Title</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

@RenderPage("shared/_Assets.cshtml")
