@inherits Custom.Hybrid.Razor12
@{
  var showPopup = Content.Presentation.Activated == true          // popup activated?
    && Content.Presentation.ActiveFrom.Date <= DateTime.Now.Date  // showFrom <= today?
    && Content.Presentation.ActiveTo.Date >= DateTime.Now.Date;    // showTo >= today?
  var domId = "app-popup3-js-modal-" + CmsContext.Module.Id;
}

@* Do not delete warning and demo popup for admin *@
@if(Edit.Enabled){
  <div class="alert alert-info d-flex justify-content-between">
    <div class="d-flex align-items-center">
      @Resources.DoNotDeleteWarning
      @Edit.Toolbar(Content, toolbar: "settings&hover=left&autoAddMore=start")
    </div>
    <a data-micromodal-trigger="@domId" class="btn btn-primary btn-sm text-white">@Resources.TestPopup</a>
  </div>
}

@if (Edit.Enabled || showPopup) {
  <div class="app-popup3">
    @Html.Partial("_Popup.PartModal.cshtml", new { DomId = domId, Popup = Content })
  </div>
  @Html.Partial("_Popup.PartAssets.cshtml", new { DomId = domId, Duration = Content.Presentation.Duration })
}