@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // This is a partial template which is re-used in many other templates, so it's shared here
  // its shows the person data like name, position, contact data and description
  var person = DynamicModel.data;
}
<div class="mb-2">
  <span class="lead"><strong itemprop="name">@person.FullName</strong></span><br/>
  @if (Text.Has(person.Position)) {
    <div class="lead mb-2" itemprop="jobTitle">@person.Position</div>
  }
  <div itemprop="description">@Html.Raw((string)person.Description)</div>
</div>
<div class="co-p">
  @if (Text.Has(person.Mobile)) {
    <div itemprop="telephone">
      <i class="fas fa-mobile text-center" style="width:30px;" aria-hidden="true"></i>
      <a href="tel:@person.Mobile.Replace(" ", "")" itemprop="telephone">@person.Mobile</a>
    </div>
  }
  @if (Text.Has(person.Phone)) {
    <div itemprop="telephone">
      <i class="fas fa-phone text-center" style="width:30px;" aria-hidden="true"></i>
      <a href="tel:@person.Phone.Replace(" ", "")" itemprop="telephone">@person.Phone</a>
    </div>
  }
   @if (Text.Has(person.Email)) {
    <div itemprop="email">
      <i class="fas fa-envelope text-center" style="width:30px;"></i>
      @Html.Partial("../shared/_TryToEncryptMail.cshtml", new { Email = person.Email })
    </div>
  }
</div>
