@inherits ToSic.Sxc.Dnn.RazorComponent
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts"})

<div class="co-container-outer">
	<div class="co-container-inner clearfix co-content co-content-image-left co-text-beside-image mb-4" @Edit.TagToolbar(Content)>
		<div class="row">
			<div class="col col-sm-12">
				@* call sub-template to show the title with the correct H1-H6 tag *@
				@RenderPage("../shared/_Header tag.cshtml")

				@* call sub-template to show the image with all possible options *@
				@RenderPage("_ContentImage.cshtml", new { img = Content, width = 700 })

				<div class="co-text">@Html.Raw(Content.Text)</div>
			</div>
		</div>
	</div>
</div>