@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var locationHelper = CreateInstance("_LocationHelper.cshtml");
  // run helper command
  var mapInfo = locationHelper.MapInfos(Content);
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;
}
@locationHelper.AddGoogleMapsKey()

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="row">
			<div class="col-md-6 order-md-6 d-flex align-items-center">
				<address itemscope itemtype="http://schema.org/LocalBusiness">
					<div class="mb-2 pr-md-5" itemprop="name">
						<h4>@Content.Company</h4>
						@if (Text.Has(Content.Description)) {
							<div itemprop="description">@Html.Raw(Content.Description)</div>
						}
					</div>
					<div class="mb-2" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						@if (Text.Has(Content.Street)) {
							<span itemprop="streetAddress">
							@if (Text.Has(Content.Street)) {
								@Html.Raw(Tags.Nl2Br(Content.Street))<br>
							}
							</span>
						}
						@if (Text.Has(Content.City)) {
							if (Text.Has(Content.ZipCode)) {
								<span itemprop="postalCode">@Content.ZipCode</span>
							}
							<span itemprop="addressLocality">@Content.City</span><br>
						}
						@if (Text.Has(Content.Country)) {
							<span itemprop="addressCountry">@Content.Country</span><br>
						}
					</div>
					<div class="mb-2">
						@if (Text.Has(Content.Mail)) {
							<div itemprop="email">
								<span class="fas fa-envelope"></span>
								@RenderPage("../shared/_TryToEncryptMail.cshtml", new { email = Content.Mail })
							</div>
						}
						@if (Text.Has(Content.Tel)) {
							<span class="fas fa-phone" aria-hidden="true"></span> <a href="tel:@Content.Tel.Replace(" ", "")" itemprop="telephone">@Content.Tel</a><br/>
						}
						@if (Text.Has(Content.Fax)) {
							<span class="fas fa-fax" aria-hidden="true"></span> <span itemprop="faxNumber">@Content.Fax</span><br/>
						}
							@if(Text.Has(Content.LabelDirections)){
							<span class="fas fa-map-marker-alt"></span> <a target="_blank" href="@mapInfo.DirectionUrl">@Content.LabelDirections</a>
						}
					</div>
				</address>
			</div>
			<div class="col-md-6 order-md-1">
				<div class="co-google-map-container embed-responsive embed-responsive-16by9">
					<div class="embed-responsive-item" id="GoogleMap-@mapId"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,icons"})
@RenderPage("_LocationScript.cshtml", new { markerImage = Content.Presentation.MarkerImage, mapId = mapId, mapInfo = mapInfo, company = Content.Company })