@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var locationHelper = CreateInstance("_LocationHelper.cshtml");
  // run helper command
  var mapInfo = locationHelper.MapInfos(Content);
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;
}
@locationHelper.AddGoogleMapsKey()

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="co-google-map-container embed-responsive embed-responsive-21by9">
			<div class="embed-responsive-item" id="GoogleMap-@mapId"></div>
			<div id="GoogleMap-Content-@mapId" style="display:none;">
				<div class="p-2 text-center">
					<h4>@Content.Company</h4>
					<div>@Html.Raw(Content.Description)</div>
					<a class="btn btn-outline-primary" target="_blank" href="@mapInfo.DirectionUrl">@Content.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "scripts,icons"})
@RenderPage("_LocationScript.cshtml", new { markerImage = Content.Presentation.MarkerImage, mapId = mapId, mapInfo = mapInfo, company = Content.Company })
