@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

<div class="co-container-outer mb-4 mb-md-5">
  <div class="co-container-inner" @Edit.TagToolbar(Content)>
    <div class="row">
      <div class="col-md-8">
        @* call sub-template to show the title with the correct H1-H6 tag *@
        @RenderPage("../shared/_Header tag.cshtml")
        @Html.Raw(Content.Text)
      </div>
      <div class="col-md-4">
        @RenderPage("_Video-Part.cshtml", new { width = 420, height = 236 })
      </div>
    </div>
  </div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,fancybox,icons"})