@inherits ToSic.Sxc.Dnn.RazorComponentCode
@using ToSic.Razor.Blade;

@helper SetNotFoundHttpHeaders() {
  Response.StatusCode = 404;
  Response.TrySkipIisCustomErrors = true;
}

@* Show Title *@
@helper Title(dynamic item, dynamic eventDate) {
var resources = App.Resources;
<text>@item.Title @((Text.Has(eventDate.TitleAddition)) ? resources.TitleAdditionPrefix + " " + eventDate.TitleAddition + " " + resources.TitleAdditionSuffix : "" )</text>
}

@* Shows Event Details boxes *@
@helper DetailsBox(string label, string copy) {
  if(Text.Has(copy)) {
  <div class="col-12 col-md-6 mb-3 app-events-infocontainer">
    <h6>@label</h6>
    @copy
  </div>
  }
}

@* Shows a back to list button *@
@helper BackToListButton() {
  <a class="btn btn-outline-primary" href='@Tags.SafeUrl(Link.To())'>@Html.Raw(App.Resources.LabelBackToList)</a>
}
