@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using System.Collections.Generic;
@using System.Linq;
@{
  var termGroups = DynamicModel.TermGroups;
}

@foreach (var grp in termGroups) {
  <div class="mb-5">
    <h2 id="@AsDynamic(grp).Key" class="mt-3">@AsDynamic(grp).Key</h2>
    @foreach (var term in grp) {
      // Appends " – " to abbreviation if exists
      var titleAbbreviation = (Text.Has(term.Abbreviation) ? term.Abbreviation + " – " : "");
      var fullTermTitle = titleAbbreviation + term.Title;
      
      <div class="mb-2" @Edit.TagToolbar(term, toolbar: new [] {
        "%delete&show=true",
        "%new&show=true?contentType=Term&entityId=0",
        "-layout"
      })>
        <strong>@fullTermTitle</strong>
        <p class="mb-0">@term.Summary</p>
        <small><a href='@Link.To(parameters: "term=" + term.UrlKey)'>@Resources.MoreText</a></small>
      </div>
    }
  </div>
}