@using System.Linq
<h1>Demo directory with public forms</h1>

<h2>Partners</h2>
<table>
  <tr>
    <th>Logo</th>
    <th>Name &amp; Description</th>
    <th>Photos</th>
    <th>Showcases</th>
  </tr>
  @foreach(var partner in AsDynamic(App.Data["Partners"])) {
    var logos = AsAdam(partner, "Logo").Files;
    var logo = logos.Count > 0 ? logos[0] : null;

  <tr style='background: @(partner.IsPublished ? "" : "yellow")'>
    <td>@if(logo != null) { <img src="@logo.Url?w=100&h=100"> }</td>
    <td class="sc-element">
      <strong>@partner.Name</strong><br>
      @Html.Raw(partner.Description)
      @Edit.Toolbar(partner)
    </td>
    <td>
      @foreach(var pht in AsAdam(partner, "Photos").Files){
        <img src="@pht.Url?w=100&h=100">
      }
    </td>
    <td>
      <ol>
        @foreach(var cs in AsAdam(partner, "CaseStudies").Files) {
          var len = cs.Name.Length > 15 ? 15 : cs.Name.Length - 1;
          <li><a href="@cs.Url" target="_blank">@cs.Name.Substring(0, len)...</a></li>
        }
      </ol>
    </td>
  </tr>
  <tr>
    <td colspan="4"><hr></td>
  </tr>
  }
</table>

<button type="button" onclick="addPartner(this)">Add your profile</button>

<script>
    // simple function to run the command and handle the returned promise
    function addPartner(tag) {
        $2sxc.cms.run(tag, "new", { contentType: "Partners"})
            .then(function () {
                alert("Thanks - we'll review your entry and publish it.")
            });
    }
</script>

@* enable the editing *@
@Edit.Enable(api: true, forms: true, context: true, autoToolbar: false)