@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  var helpers = CreateInstance("shared/_Helpers.cshtml");

  var albumInUrl = Request.QueryString["Album"];
  var isDetailViewOfAlbum = Text.Has(albumInUrl);
  @* If album QueryString is specified, take album from QueryString, else take "current" album *@
  var album = isDetailViewOfAlbum ? AsList(Data).FirstOrDefault(a => a.Path == albumInUrl) : Content;
  @* Show album not found notification and stop processing *@
  if (album == null) {
    <h1>@App.Resources.AlbumNotFound</h1>
    <div>@Html.Raw(App.Resources.AlbumNotFoundText)</div>
    <a href="@Tags.SafeUrl(Dnn.Tab.FullUrl)" class="btn btn-outline-primary btn-sm">@App.Resources.BackToOverview</a>
    Response.StatusCode = 404;
    Response.TrySkipIisCustomErrors = true;
    return;
  }

  HtmlPage.Title = album.Title + " | " + HtmlPage.Title;
}

@* Hide the side navigation if the view is used as detail view *@
@if (isDetailViewOfAlbum) {
  <style>.ly-col-leftpane { display: none; }</style>
}

<div @Edit.TagToolbar(album)>
  @* Display Album Title or information that title is hidden *@
  @helpers.AlbumTitle(album)

  @* Display the images *@
  <div class="ga-wrapper row auto-clear">
    @foreach (var pic in helpers.GetImagesSorted(album)) {
      <div class="ga-tiles col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="ga-image" @Edit.TagToolbar(toolbar: new [] {
          "toolbar=empty",
          "metadata?entityId=" + pic.Metadata.EntityId + "&contentType=ImageMetadata&for=file:" + pic.FileId
        })>
          <figure>
            <a class="ga-fancybox" href='@Tags.SafeUrl(pic.Url + "?w=1200&h=900&mode=max")' data-fancybox="album-@Dnn.Module.ModuleID">
            <div class="ga-img">
              <div class="overlay"></div>
              <img class="lazy img-fluid" src='@Tags.SafeUrl(pic.Url + "?w=560&scale=both&quality=80&h=404&mode=crop")' alt="@pic.Metadata.Title" />
            </div>
            @if(Content.Presentation.ShowImageTitle && Text.Has(pic.Metadata.Title)) {
              <figcaption>
                <h6>@pic.Metadata.Title</h6>
                <p>@pic.Metadata.Description</p>
              </figcaption>
            }
          </a>
          </figure>
        </div>
      </div>
    }
  </div>
</div>

@* Show back button if the view is used as detail view *@
@if(isDetailViewOfAlbum) {
  <a href="@Tags.SafeUrl(Dnn.Tab.FullUrl)" class="btn btn-outline-primary btn-sm">@App.Resources.BackToOverview</a>
}

@RenderPage("shared/_Assets.cshtml", new { scripts = true})