@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  var helpers = CreateInstance("shared/_Helpers.cshtml");

  HtmlPage.Title = Content.Title + " | " + HtmlPage.Title;
}

<div @Edit.TagToolbar(Content)>
  @* Display Album Title or information that title is hidden *@
  @helpers.AlbumTitle(Content)

  @* Display the images *@
  <div class="ga-wrapper row auto-clear">
    <div class="ga-masonry">
      @foreach (var pic in helpers.GetImagesSorted(Content)) {
        <div class="ga-image" @Edit.TagToolbar(toolbar: new [] {
          "toolbar=empty",
          "metadata?entityId=" + pic.Metadata.EntityId + "&contentType=ImageMetadata&for=file:" + pic.FileId
        })>
          <figure>
            <a class="ga-fancybox" href='@Tags.SafeUrl(pic.Url + "?w=1200&h=900&mode=max")' data-fancybox="album-@Dnn.Module.ModuleID">
              <div class="ga-img">
                <div class="overlay"></div>
                <img class="lazy img-fluid" src='@Tags.SafeUrl(pic.Url + "?w=560&scale=both&quality=80&mode=max")' alt="@pic.Metadata.Title" />
              </div>
              @if(Content.Presentation.ShowImageTitle && Text.Has(pic.Metadata.Title)) {
                <figcaption>
                  <h6>@pic.Metadata.Title</h6>
                  <p>@pic.Metadata.Description</p>
                </figcaption>
              }
            </a>
          </figure>
        </div>
      }
    </div>
  </div>
</div>

@RenderPage("shared/_Assets.cshtml", new { scripts = true})